@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'blender-pro';
  src:
    url('/fonts/BlenderPro-Book.woff2') format('woff2'),
    url('/fonts/BlenderPro-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
